<% provide(:title, "Edit user") %>
<h1><%= t('pages.upd_prof') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, t('users.user_name') %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :username, "username" %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email, t('users.email') %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, t('users.password') %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, t('users.confirmation') %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :bio, t('users.bio') %>
      <%= f.text_field :bio, class: 'form-control' %>

      <%= f.label :prefecture, t('users.place of birth') %>
        <%= f.select :prefecture, options_for_select(Place.birthplaces.keys.map { |key| [key, key] }), {} %>

      <%= f.submit t('links.update'), class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">
        <%= t('users.change') %>
      </a>
    </div>
  </div>
</div>
