<% provide(:title, 'All users') %>
<h1>
  <%= t('pages.all_users') %>
</h1>


<div class="u_search">
<%= form_with url:users_path,local: true,method: :get do |f| %>
  <%= f.label :prefecture, t('users.place of birth') %>
  <%= f.select :prefecture, options_for_select(Place.birthplaces.keys.map { |key| [key, key] }), {} %>
  <%= f.label :name, t('users.username or e-mail') %>
  <%= f.text_field :word,placeholder: "name or e-mail" %>
 <%= f.submit t('links.search'), class: "btn btn-primary" %>
</div>
<% end %>


<%= will_paginate %>

<ul class="users">
  <% if @users.any? %>
    <%= render @users %>
  <% else %>
    <p>一致するユーザは存在しませんでした</p>
  <% end %>
</ul>
<%= will_paginate %>
