<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p class="username">
      <%= @user.username %>
      </p>

      <p class="place">
      <strong><%= t('users.place of birth') %>:</strong>
      <%= @user.prefecture %>
      </p>

      <strong>
        <%= t('users.bio') %>:
      </strong>
      <%= @user.bio %>
    </section>

    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>
        <%= t('links.post') %>
        (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">

      <%= render @pinned %>
      <%= render @not_pinned %>

      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
